.activityPage{
    background-color: #FFFFFF;
    color: #3e3e3e;
    border-radius: 0 0 5px 5px;
    margin-top: 25px;
}
.activityPage .pageHeader{
    margin-bottom: 5px;
}
.activityPage .container{
    max-width: 1100px;
    box-sizing: border-box;
    padding: 0px 15px 30px;
}
.activityPage .activity-title{
    margin: 0px 0px;
    font-weight: 400;
    font-size: 2em;
    font-family: 'Baron Neue', sans-serif;
    text-transform: lowercase;
    line-height: 1.5em;
}
.activityPage .activity-title span{
    background-color: #9CFEDA;
    padding: 3px 0;
}
.activity-details{
    display: flex;
    margin-top: 5px;
    flex-wrap: wrap;
}
.activity-detail{
    flex-grow: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}
.activity-detail{
    margin: 5px;
}
.activity-detail .title{
    font-weight: 600;
    font-size: 1.5em;
}
.activity-detail .text{
    font-size: 1.1em;
}
.activity-desc{
    margin-top: 15px;
}
.activity-desc .thumb{
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: contain;
    object-position: top left;
}
.activity-desc .description, .activity-desc .price{
    box-sizing: border-box;
    padding: 5px;
}
.activity-desc .description a{
    color: #669ef9;
}
.activity-desc h3{
    margin: 0px 5px 0px;
}
.activity-desc p{
    margin: 5px 0px 10px;
}
.act-page-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.act-page-grid .header-side{
    width: 95%;
}
.act-page-grid .control-side{
    padding: 10px;
}
.act-page-grid .control-side button{
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.act-page-grid .control-side img{
    width: 24px;
    height: 24px;
}

@media (max-width: 650px){
    .activityPage .activity-title{
        font-size: 1.5em;
        line-height: 1.5em;
    }
    .activity-detail .title{
        font-weight: 800;
        font-size: 1.1em;
    }
}
