.loader {
    border: 5px solid #FFFFFF;
    border-top: 5px solid #9CFEDA;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: auto;
}
.loader-container{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
