.pastActivityPage{
    background-color: #FFFFFF;
    color: #3e3e3e;
    border-radius: 0 0 5px 5px;
    margin-top: 15px;
}
.pastActivityPage .pageHeader{
    margin-bottom: 20px;
}
.pastActivityPage .container{
    margin-top: 20px;
    padding-bottom: 25px;
    max-width: 1100px;
}
.past-activities{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
}
.past-activity{
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2fr 1fr;
    overflow: hidden;
    box-shadow: 3px 3px 53px -17px rgba(0,0,0,0.61);
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
}
.past-activity.middle{
    grid-row: span 1;
    grid-column: span 2;
}
.past-activity.big{
    grid-row: span 2;
    grid-column: span 2;
    grid-template-rows: 4fr 1fr;
}
.past-activity .act-image{
    grid-column: 1/span 1;
    grid-row: 1/span 2;
    background-color: #7F4EC9;
    width: 100%;
    height: 100%;
}
.past-activity .act-image img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: top;
    transition: all 1s ease-out;
    opacity: 0.8;
    transform: scale(1);
}

.past-activity:hover .act-image img{
    opacity: 1;
    transform: scale(1.1);
}

.past-activity .act-detail{
    grid-column: 1 / span 1;
    grid-row: 2 /span 1;
    background-color: #FFF;
    box-sizing: border-box;
    padding: 10px;
    z-index: 5;
}
.past-activity.middle .act-name{
    font-size: 2em;
    margin-top: -23px;
    line-height: 1.1em;
}
.past-activity.big .act-name{
    font-size: 3em;
    margin-top: -23px;
    line-height: 1.2em;
}
.past-activity .act-name{
    font-size: 1.5em;
    font-family: 'Baron Neue', sans-serif;
    text-transform: lowercase;
    margin-top: -23px;
    line-height: 1.2em;
}
.past-activity .act-name span{
    background-color: #9CFEDA;
}

.past-activity .act-time{
    font-weight: 600;
}

.pastActivityPage .load-btn{
    margin: 10px;
    padding: 10px 15px;
    border: none;
    font-size: 1.1em;
    background-color: #7F4EC9;
    line-height: 1.5em;
    color: #FFF;
    cursor: pointer;
}
@media (max-width: 750px){
    .past-activities{
        display: flex;
        flex-wrap: wrap;
    }
    .past-activity{
        width: 100%;
        margin-bottom: 15px;
        height: 250px;
    }
    .past-activity .act-name, .past-activity.middle .act-name, .past-activity.big .act-name{
        font-size: 2em;
        margin-top: -23px;
        line-height: 1.1em;
    }
}
@media (max-width: 550px){
    .past-activity{
        height: 150px;
    }
    .past-activity .act-name, .past-activity.middle .act-name, .past-activity.big .act-name{
        font-size: 1.5em;
        margin-top: -18px;
        line-height: 1.1em;
    }
    .pastActivityPage .load-btn{
        width: 100%;
        margin: 0;
        box-sizing: border-box;
    }
}
