.sportPage{
    background-color: #FFFFFF;
    color: #3e3e3e;
    border-radius: 0 0 5px 5px;
    margin-top: 15px;
}
.sportPage .pageHeader{
    margin-bottom: 0px;
}
.sportPage .container{
    margin-top: 20px;
    max-width: 1100px;
}
.sportTitle h3, .sportTitle .option{
    margin: 5px 10px;
}
.sportTitle{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 5px;
}
